Package: net.angelxwind.pineapplespinnerls
Name: PineappleSpinnerLS
Depends: mobilesubstrate, firmware (>= 7.0), com.dba-tech.lockpages
Version: 1.0
Architecture: iphoneos-arm
Description: Spin a pineapple on your lock screen!
Depiction: https://cydia.angelxwind.net/?page/net.angelxwind.pineapplespinnerls
Maintainer: Karen Tsai (angelXwind) <angelXwind@angelxwind.net>
Author: Karen Tsai (angelXwind) <angelXwind@angelxwind.net>
Section: Tweaks
